

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

*
{
	margin:0;
	padding:0;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url(glass.jpg);
	background-position:center;
	font-family:monospace;
	background-size: cover;
}

.main-nav{
	list-style: none;
	margin-left:10px;

}

.main-nav li a{
	color:white;
	text-decoration:none;
	padding:10px;
	font-family:"Comic Sans MS",sans-serif;
	font-size: 20px:;
	margin:20px;
	margin-top:50px 
}


.select{
	-webkit-box-shadow: 50px 15px 50px 15px #000000; 
box-shadow: 50px 2px 50px 2px #000000;
padding:8px;

}

.main-nav li.active a{
	border: 1px solid white;
	border-radius: 6px;
}

.main-nav li a:hover{
	border: 1px solid white;
	border-radius: 6px;
}
.column{
	max-width:200px;
	margin:auto;
}
.logo img{
	height:600px;
	width:100%;

}








.button{

margin-left:10px;
margin-top:20px;
border: 1px solid rgb(28, 100, 255);
color: rgb(255, 253, 202); 

font-size: 16px; 
line-height: 16px; 
padding: 12px 30px; 
border-radius: 6px; 
font-family:"cosmic sans MS", serif; font-weight: normal; text-decoration: none; 
font-style: normal; 
font-variant: normal; 
text-transform: uppercase; 
background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
 
     }

.button:hover {
background: #1C6EA4;
transition: all 0.5s ease-in;
 }
.button:active {
background: #144E75; }
    


.container{
	border: 6px groove #114B95;
          }



.box1{

	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
 .box-1 h1{
 font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 54px;
letter-spacing: -0.2px;
word-spacing: 0.8px;
color: #fff;
font-weight: 200;
text-decoration: none solid rgb(68, 68, 68);
text-align: center;
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
text-shadow: -3px -1px 7px rgba(0,0,0,0.82);

	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;

-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
 margin:0;

 }



.box-2{
	width:17%;
	height:620px;
padding:10px;
	border-left: 6px groove #114B95;
	box-sizing:border-box;
	border-right: 6px double #114B95;
  float:left;
	margin:auto;

	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.box-3{

	width:60%;
	height:620px;
	padding:10px;
border-bottom: 6px groove #114B95;
box-sizing:border-box;
 float:left;
	margin:auto;

	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.box-4{

	width:23%;
	height:620px;
	padding:10px;
border-right: 6px groove #114B95;
border-left: 6px double #114B95;
box-sizing:border-box;
 float:left;
	margin:auto;

	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

 .gm1{
	width:45%;
   
 float:left;
	

}

.gm2{
	width:45%;
 float:right;
	

}


.gm3{
	width:45%;
	
 float:left;
	

}

.gm4{
	width:45%;

 float:right;
	
}

.login-box{
	width: 280px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:white;

}
.login-box h1{
	
	font-size:40px;
	border-bottom: 6px solid rgb(109, 141, 131);
	margin-bottom: 50px;
	padding:13px 0;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0
	margin: 8px 0;
	border-bottom: 1px solid  rgb(109, 141, 131);
}


