html, body {
	height: 100%;
	margin: 0px;
	color: #fff;
	overflow: hidden;
}

.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 0.6fr 2.2fr 0.6fr;
	grid-template-rows: 0.5fr 2.2fr 0.3fr;
	grid-template-areas: "TITLE TITLE TITLE" "USERS GAME CHAT" "FOOTER FOOTER FOOTER";
	background: #111;
}

.TITLE {
	grid-area: TITLE;
    box-shadow: 2px 2px 10px 1px #f00;
    background: #000;
    padding: 0.5em;
    padding-left: 4em;
    display: flex;
    align-items: center;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Sans';
}
h1 {
    font-style: italic;
}

.GAME {
	grid-area: GAME;
	margin: 1px; padding: 1px;
	display: flex;
    align-items: center;
}

.GAME-INNER {
	width: 640px; height: 450px;
	margin: auto;
	box-shadow: 2px 2px 10px 1px black;
    background: #777;
}

.CHAT {
	grid-area: CHAT;
	box-shadow: -2px 2px 10px 1px black;
	background: #050505;
	position: relative;
}

.box {
	border: 1px solid #111;
	width: 100%;
	margin: 0;
	padding: .25em; padding-left: 1.2em;
}

.box-title {
	z-index: 1;
}

.bottom-box {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#messages {
    position: absolute;
    bottom: 30px;
}

.messagebox {
	width: 100%;
	font-family: 'Courier New', Courier, monospace;
	margin: 5px;
}

.message {
	
}

.uname {
	font-weight: bold;
    margin: 5px;
    color: #0f0;
}

.bottom-box > input {
	width: 100%;
}

.USERS {
	grid-area: USERS;
	box-shadow: 2px 2px 10px 1px black;
    background: #050505;
}

.FOOTER {
	grid-area: FOOTER;
	box-shadow: 2px 2px 10px 1px black;
    background: #050505;
}


#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .90;
    filter: alpha(opacity=90);
    z-index: 1000;
}

#modal-content {
    background-color: #050505;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 red;
    display: none;
    height: 240px;
    left: 50%;
    margin: -120px 0 0 -160px;
    padding: 1em;
    position: fixed;
    top: 50%;
    width: 320px;
	z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}​