<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <script src="/static/jq.js"></script>
    <script src="/static/p5.min.js"></script>
    <script src="/static/addons/p5.dom.min.js"></script>
    <script src="/static/addons/p5.sound.min.js"></script>
    <script src="/static/socket.io.js"></script>
    <script src="/static/skrible.js"></script>
</head>
<body>
    <div id="titleBar">
        <h1>Skrible</h1>
    </div>
    <div id="main">
        <div id="content">
            <h2>content</h2>
            <div id = "container"></div>
        </div>
        <div id="rightnav"> 
            <h2> Online</h2>
            <a href="#">lakshay</a>
            <a href="#">rohit</a>
            <a href="#">kartikay</a>
            <a href="#">chirag</a>
            <div id="chatBox">
            </div>
            <input type="text" id="chat">


        </div>
    </div>
</body>
</html>